.loginContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 16px;
  position: relative;
}

@media (min-width: 600px) {
  .loginContainer {
    padding: 24px;
  }
}

@media (min-width: 960px) {
  .loginContainer {
    padding: 32px;
  }
}
